.bj {
    background: url(../img/bj2.jpg) no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

a {
    text-decoration: none;
    font-size: 1.75cm;
}

.linkGame,
.synthetic {
    display: inline-block;
    height: 125px;
    border: 1px solid rgba(40, 162, 214, 0.6);
    border-radius: 6px;
    background-color: rgba(127, 224, 255, 0.8);
    text-align: center;
    padding-top: 40px;
}

.linkGame {
    width: 350px;
    position: absolute;
    top: 36%;
    left: 20%;
}

.synthetic {
    width: 430px;
    position: absolute;
    top: 36%;
    left: 55%;
}


/*返回主页*/

.back {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.back img {
    transition: 2s;
}

.back img:hover {
    transform: scale(1.3);
}