*{margin: 0;padding: 0;}
body{
    background: url(../img/bj.jpg) no-repeat center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size:cover;
	color: #FFF;
}
/*试题盒子*/
.test{
	position: absolute;
	top:50%;
	left: 50%;
	width: 1000px;
	height: 500px;
	margin: -250px 0 0 -500px;
	padding: 10px;
	background-color: rgba(111,103,233,0.3);
	border-radius: 20px;
	overflow: auto;
}
li{color: aqua;}
/*返回主页*/
 .back{
	 position: absolute;
	 top: 0px;
	 right: 10px;
 }
 /*返回主页*/
.back a{
	background-color: #AEE3FF;
	 color: aliceblue;
	 font-size: 50px;
	 text-decoration: none;
	 border-radius: 15px;
 }